body {
    background: lightGray;
    font: 18px/1.4 helvetica;
    margin: 0;
    padding: 0;
}

.bg-image {
    background-image: url(./Assets/gustaaf.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: #4a0d63;
    font-size: 48px;
    font-family: 'Signika', sans-serif;
}

h4 {
    color: #4a0d63;
    font-size: 18px;
    font-family: 'Signika', sans-serif;
    padding: 0px;
    margin: 0 0 24px;
}

h3 {
    color: #9a41bd;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
    padding: 0px;
    margin: 0;
}

p {
    font-family: 'Signika', sans-serif;
    color: #223;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 2px;
    text-justify: inter-word;
}

li {
    font-family: 'Signika', sans-serif;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 24px;
    color: #223;
}

ul {
    list-style: none; /* Remove default bullets */
}

ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #a76fbe;  /* Change the color color: #ff8a00;*/
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}



.col {
    float: left;
    padding: 15px;
}

.col.half {
    width: 50%;
    padding:0px;
}

.col.third {
    width: 31%;
}

.col.twothirds {
    width: 60%;
}

.col.fourth {
    width: 25%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.center {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

img {
    object-fit: cover;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 15px 15px;
    margin-bottom: 0px;
    background-color: white;
}

.videoWrapper {
    position: relative;    
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 19px;
    width: 94%;
    height: 94%;
}

.thumb {
    margin: 4px;
    padding: 0px;
    width: 220px;
    height: 220px;
}

.thumb a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.thumb a:hover {
    opacity: .2;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col.third {
        width: 90%;
    }
    .col.twothirds {
        width: 90%;
    }
}